COMMON: &common
  SECRET_KEY: insecure
  DEBUG: True

DEVELOPMENT: &development
  <<: *common
  DEBUG: True

STAGING: &staging
  <<: *common
  SECRET_KEY: sortasecure

PRODUCTION: &production
  <<: *common
  SECRET_KEY: shouldbereallysecureatsomepoint

SITE:
  title:    'Your Site Title'
  path_to_use: 'remote'
  local_path: 'files/'
  remote_path: 'https://api.github.com/repos/bennettscience/micro/contents/files'
  author:   'Your name'     # Appended to <author> tag in RSS feed if configured

SOCIAL:
  - {title: 'twitter', url: 'https://www.twitter.com/some_user_name'}
  - {title: 'mastodon', url: 'https://fosstodon.org/'}
  - {title: 'facebook', url: 'https://facebook.com'}
  - {title: 'github', url: 'https://github.com/'}
  - {title: 'about', url: 'Your homepage'}
