COMMON: &common
  SECRET_KEY: insecure
  DEBUG: True

DEVELOPMENT: &development
  <<: *common
  DEBUG: True

STAGING: &staging
  <<: *common
  SECRET_KEY: sortasecure

PRODUCTION: &production
  <<: *common
  SECRET_KEY: shouldbereallysecureatsomepoint

SITE:
  title:    'Your Site Title'
  desc:     'Your Site Description'

  # Publised site path, no trailing '/'
  home:     'https://your_site.com'

  # Define a file path as either `local` or `remote`
  # Local files can be any public, web server directory
  # Remote only supports GitHub repos right now
  path_to_use: 'remote'

  # Path to use for local files. Absolute paths are safer than relative
  # Default is 'files/'
  local_path: 'files/'

  # Path to your GitHub repo. Change your :username, :repo, and :dir in the string.
  remote_path: 'https://api.github.com/repos/:username/:repo/contents/:dir'

  # Appended to <author> tag in RSS feed if configured
  author:   'Your name'

SOCIAL:
  - {title: 'twitter', url: 'https://www.twitter.com/some_user_name'}
  - {title: 'mastodon', url: 'https://fosstodon.org/'}
  - {title: 'facebook', url: 'https://facebook.com'}
  - {title: 'github', url: 'https://github.com/'}
  - {title: 'about', url: 'Your homepage'}
  - {title: 'rss', url: '/feed.rss' }
