html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
main {
  display:grid;
  grid-template-columns:20% 1fr;
  grid-template-rows: 10% auto 10%;
  align-items:center;
  grid-gap: 7px;
  width:75%;
  height:100%;
  margin:0 auto;
  box-sizing: border-box;
}
#left {
  grid-column: 1;
  grid-row: 2;
  align-self:center;
  position:fixed;
}
#right {
  grid-column: 2;
  grid-row: 1/span 3;
}
nav ul {
  list-style-type: none;
  font-family:sans-serif;
  padding-left:0;
  font-size:24px;
}
nav ul li {
  margin-bottom: 10px;
}
#container {
  display:block;
  box-sizing: border-box;
  position:relative;
  margin: 0 auto;
  padding: 15px;
  border-left:3px solid rgba(200,200,200,0.5);
}
.single_post {
  margin-bottom: 15px;
  position:relative;
  width:90%;
  text-align: justify;
}
header {
  font-family:sans-serif;
  font-size:38px;
  font-weight: 800;
}
p {
  font-family:serif;
  font-size:18px;
  line-height: 1.4;
  margin-bottom: 5px;
}
img { max-width: 100% }
footer {
  font-size: 12px;
  color: #1d1d1d;
}

@media screen and (min-device-width: 320px) and (max-device-width:533px) {
  main {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:auto 20%;
    width:100%;
    margin:0 auto;
    text-align: center;
  }
  #left {
    grid-row:2;
    grid-column: 1;
    position:relative;
  }
  #right {
    grid-row: 1;
    grid-column:1;
    border:none;
  }
  #container {
    border: none;
  }
  #container > div {
    width:100%;
  }
  #container header, footer { text-align: center; }
}
