<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ config.SITE_TITLE }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
  </head>
  <body>
    <main>
      <div id="left">
        {% include 'nav.html' %}
      </div>
      <div id="right">
        <div id="container">
          {% block title %}{% endblock %}
          {% block content %}{% endblock %}
          {% block entry_content %}{% endblock %}
        </div>
      </div>
    </main>
  </body>
</html>
